<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar >
  <mat-toolbar class="test">
    <span>First Row</span>
  </mat-toolbar>

  <mat-toolbar class="test1">
    <mat-icon>home</mat-icon>
    <span>First Row</span>
  </mat-toolbar>

  <mat-toolbar class="test2">
    <mat-icon>search</mat-icon>
    <span>First Row</span>
  </mat-toolbar>
</mat-toolbar>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<adz-book-search></adz-book-search>
