mat-grid-tile {
  background: lightblue;
}

button{
  background: lightblue;
}

.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  position: center;
}

.example-container > * {
  width: 75%;
  margin-left: 15%;
}
