<mat-nav-list>
    <a href="" mat-list-item (click)="openLink($event)">
      <span mat-line> Auteur du livre:</span>
      <span mat-line>{{book.volumeInfo.authors}}</span>
    </a>

    <a href="" mat-list-item (click)="openLink($event)">
      <span mat-line>pageCount:</span>
      <span mat-line>{{book.volumeInfo.pageCount}}</span>
    </a>

    <a href="" mat-list-item (click)="openLink($event)">
      <span mat-line>Id Livre: </span>
      <span mat-line>{{bookselect.id}}</span>
    </a>

  </mat-nav-list>



