<div style="text-align:center">
    <h1>
      Les Livres trouvés
    </h1>
</div>

<div class = "example-container">
    <mat-form-field >
        <input type="text" id='find' [(ngModel)]="find" matInput  placeholder = "Rechercher un livre" >
    </mat-form-field >
    <mat-form-field>
      <mat-select placeholder="Filtrer par">
        <mat-option *ngFor="let filtre of filtres" [value]="filtre.value" id="value">
          {{filtre.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <button mat-raised-button >
    <mat-grid-tile cols="2" rowHeight="2:1" *ngFor="let book of books" (click)="selectBook(book)">
        <img mat-card-image id="image" *ngIf="book.volumeInfo.imageLinks.thumbnail"  [src]="book.volumeInfo.imageLinks.thumbnail" alt="">
        <mat-list role="list">
            <h1>{{book.id}}</h1>
            <mat-list-item id='element'role="lisitem">Id Livre:{{book.id}}</mat-list-item>
            <mat-list-item id='element'role="lisitem">Auteur du livre:{{book.volumeInfo.authors}}</mat-list-item>
            <mat-list-item id='element'role="lisitem">pageCount: {{book.volumeInfo.pageCount}}</mat-list-item>
        </mat-list>
    </mat-grid-tile>
  </button>
</mat-grid-list>

<button mat-icon-button (click)="goBack()">Retour</button>
